<h1>Rates#index</h1>
<%= link_to 'Get Latest', rates_url, method: :post, class: 'btn btn-success' %>
<table class="table table-bordered table-striped">
  <tr>
    <th>Currency</th>
    <th>USD = </th>
  </tr>
  <% date_tracker = nil %>
  <% @fx_rates.each do |rate| %>
    <% if date_tracker != rate.value_date %>
      <tr><td colspan="2"><h2><%= rate.value_date %></h2></td></tr>
      <% date_tracker = rate.value_date %>
    <% end %>
    <tr>
      <td><%= rate.currency %></td>
      <td><%= rate.rate %></td>
    </tr>
  <% end %>
</table>